.nav 
{ 
   background-color:  #a590b1;
   color:#454561  ;
   list-style: none;
   text-align: center;
   padding: 20px 0;
   margin: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 17px;
}

.nav > li {
    display: inline-block;
     margin: 0 15px;
  padding: 10px 20px;
  border: 2px solid #454561;  
  position: relative;
}

.nav > li > a {
    text-decoration: none;
    color:#454561;  
    font-weight: bold;
    padding: 20px 50px;
    display: inline-block;
}

 .nav > li > a:hover {
    color: #c3bcbd ;
}
.nav > li.dropdown-menu {width: 200px;}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:  #a590b1;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 160px;
    box-shadow: 0px 4px 8px;
    width: 100%;
    font-weight: bold;

}
.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #454561;
  text-decoration: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 2px solid #454561;
}

.dropdown-menu li a:hover {
  background-color: #dcd1e8;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
